.landing {
  min-height: 100vh;
  background-image: url("../../assets/png/desktop_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.landing__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.landing__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

}

.landing__header {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  color: #FFFFFF;
}

.landing__btn {
  outline: none;
  padding: 12px 25px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  background: transparent;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.15rem;
  cursor: pointer;
}

.landing__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;  
  color: #FFFFFF;
  opacity: 0.3;
  transform: rotate(-90deg);
  margin-top: 2rem;
}

.landing__countdown {
  display: flex;
  gap: 2rem;
  margin-top: auto;
  position: absolute;
  bottom: 5%;
  left: 10%;
  padding: 1.5rem;
  background: linear-gradient(104.15deg, rgba(255, 205, 0, 0.06) 33.5%, rgba(255, 255, 255, 0) 89.64%);
  border-radius: 20px;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-family: var(--primary-font);
  color: #ffffff;
}

.countdown h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
.countdown h4 {
  font-weight: 300;
  font-size: 1.15rem;
}