.contact_us {
    padding-top: 4rem;
}

.terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_usu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_header {
    display: flex;
    height: 30vh;
    width: 100%;
    background: #111111;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--primary-font);
    color: #ffffff;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.privacy_content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 80%;
    margin: auto;
}

.content_header {
    font-size: 1.35rem;
    font-weight: 600;
    font-family: var(--primary-font);
    color: #111111;  
    margin-top: 1.5rem;
}

.cont_highlights {
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--primary-font);
    color: #111111;  
}

.content_paras {
    font-size: 1.15rem;
    font-weight: 400;
    font-family: var(--primary-font);
    color: #111111;
    opacity: 0.9;
    padding-top: 0.35rem;
}

@media screen and (max-width: 992px) {
    .privacy_content {
        width: 100%;
    }

    .page_header {
        padding: 2rem;
        font-size: 1.25rem;
        margin-top: 3rem;
        text-align: center;
    }
    .content_header {
        font-size: 1.15rem;
    }
    .content_paras {
        font-size: 0.95rem;
    }
    
}