.successPage {
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .successPage__header h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 400px) {
    .successPage__header h1 {
        font-size: 1.3rem;
        text-align: center;
    }
}